@model IEnumerable<Core.Response.HoaDonResponse>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var pageNumber = ViewBag.PageNumber;
    var pageSize = ViewBag.PageSize;
    var totalPages = ViewBag.TotalPages;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/HoaDon.css" asp-append-version="true" />

</head>
<body class="bg-light">

    <div class="container mt-4">
        <h2 class="text-center text-primary">Quản Lý Đơn Hàng</h2>
        <br />
        <form id="filterForm" class="row g-3 mb-3">
            <div class="col-md-3">
                <label for="startDate" class="form-label">Bắt Đầu</label>
                <input type="date" id="startDate" name="startDate" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="endDate" class="form-label">Kết Thúc</label>
                <input type="date" id="endDate" name="endDate" class="form-control">
            </div>
        
            <div class="col-md-3 d-flex align-items-end">
                <button type="button" id="filterButton" class="btn btn-primary">Lọc</button>
            </div>
        </form>
        <div class="row g-3">
            <div class="col-md-7 mb-3">
                <label for="invoiceCode" class="form-label">Mã hóa đơn</label>
                <input type="text" id="invoiceCode" name="invoiceCode" class="form-control">
            </div>
            <div class="col-md-5 mb-3">
                <label for="statusFilter" class="form-label">Trạng thái</label>
                <select id="statusFilter" class="form-select">
                    <option value="">Tất cả</option>
                    <option value="0">Chờ xác nhận</option>
                    <option value="1">Đang đóng hàng</option>
                    <option value="2">Đang giao hàng</option>
                    <option value="3">Giao hàng thành công</option>
                </select>
            </div>
        </div>
        <div id="hoaDonTableContainer">
            @await Html.PartialAsync("_HoaDonTable", Model)
        </div>

    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="~/js/HoaDon.js" asp-append-version="true"></script>