.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
.table-status-0 {
    background-color: #d6d6d6; /* Màu xám */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.table-status-1 {
    background-color: #ffeb99; /* Màu vàng */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.table-status-2 {
    background-color: #007bff; /* Màu xanh nước biển */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.table-status-3 {
    background-color: #28a745; /* Màu xanh lá */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

/*Màu cho trạng thái popup*/
.status-0 {
    color: #3399ff;
}

.status-1 {
    color: #3399ff;
}

.status-2 {
    color: #3399ff;
}

.status-3 {
    color: #3399ff;
}
.hoa-don-row {
    cursor: pointer;
}
